# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.bin
*.elf

# PROS
temp.log
temp.errors
*.ini

Turning-PointV5/.vscode/cquery_cached_index/*
compile_commands.json
.d/
**/.vscode/**
**/node_modules/**
